<div class="sm:p-6">
  <div class="grid w-full min-w-0 grid-cols-4 gap-6">
    <div
      class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow col-span-4 lg:col-span-1 md:col-span-2 sm:col-span-2"
    >
      <app-temperature></app-temperature>
    </div>
    <div
      class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow col-span-4 lg:col-span-1 md:col-span-2 sm:col-span-2"
    >
      <app-humidity></app-humidity>
    </div>
    <div class="col-span-4 lg:col-span-2 md:col-span-4">
      <!-- Weather widget -->
      <app-weather></app-weather>
    </div>
    <div
      class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow col-span-4"
    >
      <app-chart></app-chart>
    </div>
  </div>
</div>
